body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3c7c7; 
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    width: 120px;  
    height: auto;
    object-fit: contain;
}

.titulo-contenedor {
    text-align: center;
}

.titulo-contenedor h1 {
    margin: 0;
    font-size: 60px;
}

.titulo-contenedor h2 {
    margin: 0;
    font-size: 35px;
}

.titulo-contenedor p {
    margin: 5px 0 0;
    font-size: 18px;
    opacity: 0.85;
}

/* ===============TARJETAS=============== */
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    margin: 40px auto;
}

fieldset {
    border: none;
    padding: 0;
}

.tarjeta {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.tarjeta img {
    width: 120px;
}

.tarjeta h3 {
    margin-top: 10px;
}

.tarjeta p {
    color: #444;
}

.tarjeta button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #B2677B; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.tarjeta button:hover {
    background-color: #8d5364;
}


footer {
    margin-top: 40px;
    padding: 30px;
    background-color: #F7DDE2; 
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

footer p {
    margin: 5px 0;
    opacity: 0.8;
}


@media (max-width: 768px) {

    /* Header */
    .header {
        flex-direction: column;
        text-align: center;
    }

    /* Tarjetas en columna */
    .contenedor {
        grid-template-columns: 1fr;
        width: 95%;
    }

    /* Footer */
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
